/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html
  height 100%
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {


  //background: -webkit-radial-gradient(#FFFFFF, #FF0000);
  //background: radial-gradient(#FFFFFF, #C9C9C9);
  //background: -moz-radial-gradient(center, ellipse cover, #442541 1%, #000000 99%); /* FF3.6-15 */
  //background: -webkit-radial-gradient(center, ellipse cover, #442541 1%,#000000 99%); /* Chrome10-25,Safari5.1-6 */
  //background: radial-gradient(ellipse at center, #442541 1%,#000000 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#442541', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  position relative
  width 100%
  height 100%
  margin: 0px;
  overflow: hidden;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;
  text-align: center;
  //cursor: pointer;
}
#wrapper
  //background: -webkit-radial-gradient(#FFFFFF, #FF0000);
  overflow: hidden;
  position relative
  width 100%
  height 100%
  //background: -webkit-linear-gradient(-45deg, #a498d3 1%, #588d96 100%);
  //background: -webkit-radial-gradient(ellipse at center, #2F1C5B 1%,#201A30 100%);
  //background: -moz-radial-gradient(ellipse at center, #2F1C5B 1%,#201A30 100%);
  //background: -o-radial-gradient(ellipse at center, #2F1C5B 1%,#201A30 100%);
  //background: -ms-radial-gradient(ellipse at center, #2F1C5B 1%,#201A30 100%);
  background: radial-gradient(ellipse at center, #181B2D 0%,#200828 100%);

#stats
  display: none;
canvas
  position: fixed
  left 0
  top 0